@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
    font-family: 'baskerville';
    src: url("/assets/fonts/Baskervville-Regular.otf");
}

@layer utilities {
    .scrollbar-hidden {
        scrollbar-width: none;
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}